<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.php">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="cart.php">Cart</a></li>
    </ol>
  </nav>
<div class="container mb-5">
    <h1>Cart</h1>
    <div class="row" id="cart_row">
        <div class="col-sm-8">
        <div class="col-sm-auto">
                <div class="row">
                    <div class="col-sm-auto">
                        <img src="resources/mug_50.png">
                    </div>
                        <div class="col-sm-3">
                            <h5>Product name</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur
                            </p>
                        </div>
                        <div class="col-sm-3">
                           <input type="number" id="amount">
                        </div>
                        
                        <div class="col-sm-auto">
                            <p>
                                <b>
                                    102.99€
                                </b>
                            </p>
                         </div>

                    </div>
                </div>

                <div class="col-sm-auto">
                    <div class="row" id="cart_row">
                        <div class="col-sm-auto">
                            <img src="resources/mug_50.png">
                        </div>
                            <div class="col-sm-3">
                                <h5>Product name</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur
                                </p>
                            </div>
                            <div class="col-sm-3">
                               <input type="number" id="amount">
                            </div>
                            
                            <div class="col-sm-auto">
                                <p>
                                    <b>
                                        102.99€
                                    </b>
                                </p>
                             </div>
    
                        </div>
                    </div>

                    <div class="col-sm-auto">
                        <div class="row" id="cart_row">
                            <div class="col-sm-auto">
                                <img src="resources/mug_50.png">
                            </div>
                                <div class="col-sm-3">
                                    <h5>Product name</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                   <input type="number" id="amount">
                                </div>
                                
                                <div class="col-sm-auto">
                                    <p>
                                        <b>
                                            102.99€
                                        </b>
                                    </p>
                                 </div>
        
                            </div>
                        </div>
                

            

                            
                
        </div>
        <div class="col-sm-4" id="checkout">
            <h2>Total</h2>
            <hr>
            <div class="row">
                <div class="col-sm-10">
                    Delivery
                </div>
                <div class="col-sm-2">
                    $$
                </div>
                
            </div>

            <div class="row">
                <div class="col-sm-10">
                    Products price
                </div>
                <div class="col-sm-2">
                    $$
                </div>
                
            </div>

            <div class="row">
                <div class="col-sm-10">
                    Discount
                </div>
                <div class="col-sm-2">
                    $$
                </div>
                
            </div>

            <div class="row">
                <div class="col-sm-9">

                </div>
                <div class="col-sm-3">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9">

                </div>
                <div class="col-sm-3">
                    <h6>999999 $$</h6>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><b>I have a coupon code</b></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter coupon">
                  </div>
            </div>

            <div class="row">
                <button class="btn btn-primary" id="go_to_checkout_btn">Go to checkout</button>
            </div>

            
            </div>
        </div>
    </div>
    </div>
</div>