<div class="row overflow-fix row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1 align-items-center">

    <div class="col col-lg-9 col-md-7 col-sm-12 overflow-fix ml-10 text-center">
        <h1 class="overflow-fix title">New items</h1>
        <hr class="my-4">
        <div class="container mt-5">
            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-3 row-cols-1 align-items-center justify-content-center">

                <div class="col-auto mb-3"> 
                    <article class="product text-center">
                        <a class="d-block" href="#">
                            <img class="product border border-secondary" src="resources/mug-150.jpg">
                            <p class="product">Happy mug</p>
                        </a>
                        <div class="container">
                            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 no-gutters">
                                <div class="col">
                                    <p class="product text-center"><data value="50">10.50</data>$</p>
                                </div>
                                <div class="col">
                                    <a href="/buy/" class="product text-center">Buy</a> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
        
                <div class="col-auto mb-3"> 
                    <article class="product text-center">
                        <a class="d-block" href="#">
                            <img class="product border border-secondary" src="resources/mug-150.jpg">
                            <p class="product">Happy mug</p>
                        </a>
                        <div class="container">
                            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 no-gutters">
                                <div class="col">
                                    <p class="product text-center"><data value="50">10.50</data>$</p>
                                </div>
                                <div class="col">
                                    <a href="/buy/" class="product text-center">Buy</a> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-auto mb-3"> 
                    <article class="product text-center">
                        <a class="d-block" href="#">
                            <img class="product border border-secondary" src="resources/mug-150.jpg">
                            <p class="product">Happy mug</p>
                        </a>
                        <div class="container">
                            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 no-gutters">
                                <div class="col">
                                    <p class="product text-center"><data value="50">10.50</data>$</p>
                                </div>
                                <div class="col">
                                    <a href="/buy/" class="product text-center">Buy</a> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-auto mb-3"> 
                    <article class="product text-center">
                        <a class="d-block" href="#">
                            <img class="product border border-secondary" src="resources/mug-150.jpg">
                            <p class="product">Happy mug</p>
                        </a>
                        <div class="container">
                            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 no-gutters">
                                <div class="col">
                                    <p class="product text-center"><data value="50">10.50</data>$</p>
                                </div>
                                <div class="col">
                                    <a href="/buy/" class="product text-center">Buy</a> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-auto mb-3"> 
                    <article class="product text-center">
                        <a class="d-block" href="#">
                            <img class="product border border-secondary" src="resources/mug-150.jpg">
                            <p class="product">Happy mug</p>
                        </a>
                        <div class="container">
                            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 no-gutters">
                                <div class="col">
                                    <p class="product text-center"><data value="50">10.50</data>$</p>
                                </div>
                                <div class="col">
                                    <a href="/buy/" class="product text-center">Buy</a> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-auto mb-3"> 
                    <article class="product text-center">
                        <a class="d-block" href="#">
                            <img class="product border border-secondary" src="resources/mug-150.jpg">
                            <p class="product">Happy mug</p>
                        </a>
                        <div class="container">
                            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 no-gutters">
                                <div class="col">
                                    <p class="product text-center"><data value="50">10.50</data>$</p>
                                </div>
                                <div class="col">
                                    <a href="/buy/" class="product text-center">Buy</a> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-auto mb-3"> 
                    <article class="product text-center">
                        <a class="d-block" href="#">
                            <img class="product border border-secondary" src="resources/mug-150.jpg">
                            <p class="product">Happy mug</p>
                        </a>
                        <div class="container">
                            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 no-gutters">
                                <div class="col">
                                    <p class="product text-center"><data value="50">10.50</data>$</p>
                                </div>
                                <div class="col">
                                    <a href="/buy/" class="product text-center">Buy</a> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-auto mb-3"> 
                    <article class="product text-center">
                        <a class="d-block" href="#">
                            <img class="product border border-secondary" src="resources/mug-150.jpg">
                            <p class="product">Happy mug</p>
                        </a>
                        <div class="container">
                            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 no-gutters">
                                <div class="col">
                                    <p class="product text-center"><data value="50">10.50</data>$</p>
                                </div>
                                <div class="col">
                                    <a href="/buy/" class="product text-center">Buy</a> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-dark text-center"><i class="fa fa-arrow-down white"></i></button>
    </div>

    <div class="col col-lg-3 col-md-5 col-sm-12 overflow-fix ml-10 align-items-center justify-content-center">
        <p class="text-center">Miesto na reklamu</p>
    </div>
</div>