<div class="row overflow-fix row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1 ">

    <div class="col col-lg-7 col-md-7 col-sm-12 overflow-fix">
        <section class="w-90 p-3 border">
            <legend>Payment method</legend>

            <div class="row overflow-fix row-cols-lg-4 row-cols-md-2 row-cols-sm-4 row-cols-2 ">
                <div class="col">
                    <i class="fas fa-credit-card fa-5x" id="CC"></i>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cc">
                        <label class="form-check-label" for="cc">Credit card</label>
                    </div>
                </div>
                <div class="col">
                    <i class="fab fa-cc-visa fa-5x" id="visa"></i>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="visa">
                        <label class="form-check-label" for="visa">Visa</label>
                    </div>
                </div>
                <div class="col">
                    <i class="fab fa-cc-paypal fa-5x " id="PP"></i>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="pp">
                        <label class="form-check-label" for="pp">Pay pal</label>
                    </div>
                </div>
                <div class="col">
                    <i class="fas fa-money-bill fa-5x" id="cash"></i>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cash">
                        <label class="form-check-label" for="cash">Pay in cash</label>
                    </div>
                </div>
            </div>
        </section>
        <section class="w-90 p-3 border marg">
            <legend>Delivery details</legend>

            <div class="form-check border pt-1 pb-1 mb-3 d-flex justify-content-between">
                <input class="form-check-input ms-1" type="checkbox" value="" id="clk">
                <label class="form-check-label ms-1" for="clk">Click & collect</label>
                <i class="fas fa-mouse me-3"></i>
              </div>

              <div class="form-check border pt-1 pb-1 mb-3 d-flex justify-content-between">
                <input class="form-check-input ms-1" type="checkbox" value="" id="hd">
                <label class="form-check-label ms-1" for="hd">Home delivery</label>
                <i class="fas fa-home me-3"></i>
              </div>

              <div class="form-check border pt-1 pb-1 mb-3 d-flex justify-content-between">
                <input class="form-check-input ms-1" type="checkbox" value="" id="ls">
                <label class="form-check-label ms-1" for="ls">Locker system</label>
                <i class="fas fa-key me-3"></i>
              </div>

        </section>
    </div>

    <div class="col col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center overflow-fix">
    </div>
</div>