<header class="container-fluid">
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 row-cols-1 align-items-center justify-content-center">
        <section class="col">
            <a class="dropbtn" id="menu"><i class="fas fa-bars nav-icon fa-2x"></i></a>
            <div class="nav_category" id="dropdown_category">
                <a href="householdgoods.php" class="a_subcategory" id="a_subcategory">Household goods<i class="fa fa-caret-right" id="menu_arrow"></i></a>
                <div class="nav_subcategory" id="dropdown_subcategory">
                    <a href="subcategory_pans.php">Pans</a>
                    <a href="subcategory_pots.php">Pots</a>
                    <a href="subcaregory_mixers.php">Mixers</a>
                </div>
                <a href="craft.php" class="a_subcategory" id="a_subcategory2">Craft<i class="fa fa-caret-right" id="menu_arrow"></i></a>
                <div class="nav_subcategory" id="dropdown_subcategory2">
                    <a href="subcategory_construction.php">Construction</a>
                    <a href="subcategory_workshop.php">Workshop</a>
                </div>
                <a href="toiletries.php">Toiletries</a>
                <a href="checkout.php">Checkout</a>
               
            </div>
            <a class="home-link" href="index.php">i♥home.com</a>
        </section>
        <section class="col">
            <input class="form-control form-control-sm" name="search" type="text" placeholder="Search">
        </section>
        <nav class="col nav d-flex justify-content-end">
            <a id="login">Log in</a>
            <a href="formular.php">Sign up</a>
            <a href="cart.php"><i class="fa fa-shopping-cart nav-icon" aria-hidden="true"></i></a>
        </nav>

        <section class=" col-lg-12 col-md-12 col-sm-12 col-12 nav second-nav d-flex justify-content-center">
            <a href="/delivery">Free delivery</a>
            <a href ="/special offers">Customer reward system</a>
            <a href="/special offers">Special offers every month</a>
        </section>
    </div>

    <div class="log_in" id="login_box">
            <label for="floatingEmail">Email address</label>
            <input type="email" class="form-control form-control-md mb-1" id="floatingEmail" placeholder="name@example.com">
            <label for="floatingPassword">Password</label>
            <input type="password" class="form-control form-control-md mb-1" id="floatingPassword" placeholder="Password">
          <div class="row">
              <div class="col-sm-auto">
                  <button id="login_button" class="btn btn-dark btn-sm">Log in</button>
              </div>
              <div class="col-sm-auto">
                  <a href="">Having problems with login?</a>
              </div>
          </div>
    </div>
</header>