<div class="container" id="container">
    <div class="row" id="productDetails">
      <div class="col-sm-auto">
        <img src="resources/mug.png">
      </div>
      <div class="col-sm-6" id="test">
          <h2>Product name</h2>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        <div class="row">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a leo at nibh finibus placerat. Nulla sollicitudin congue nulla id dapibus. Nulla vitae quam vel felis tristique volutpat. Hello www.
          </p>
        </div>
        <div class="row">
          <div class="col-sm-auto">
            <img src="resources/mug_50.png">
            <img src="resources/mug_50.png">
            <img src="resources/mug_50.png">
        </div>
        <div class="col-sm-4">
          <p>
            <b>10,99 €</b>
          </p>
        </div>
        <div class="row">
          <div class="col-sm-4">
          <p>
            Amount
          </p>
          <input type="number"/>
        </div>
        <div class="col-sm-4">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Options
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Option 1</a></li>
              <li><a class="dropdown-item" href="#">Option 2</a></li>
              <li><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="row">
          <button type="button" class="">Add to cart</button>
        </div>
  
      </div>
      </div>
      
    </div>
    <div class="container" id="reviews">
      <div class="row">
      <div class = "col">
        <button type="button" id ="reviews_button" class="btn btn-primary" onclick="review_box.style.visibility='hidden';" data-toggle="button" aria-pressed="false" autocomplete="off">
          Reviews
        </button>
        <button type="button" id ="specifications_button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Specifications
        </button>
      </div>
      </div>
      <div id="wrapper">
        <p></p>
      </div>
      <div class="container" id="review_box">

        <div class="container" id="review">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <h3>Nickname</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a leo at nibh finibus placerat. Nulla sollicitudin congue nulla id dapibus. Nulla vitae quam vel felis tristique volutpat.
          </p>
        </div>
    
        <div class="container" id="review">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <h3>Nickname</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a leo at nibh finibus placerat. Nulla sollicitudin congue nulla id dapibus. Nulla vitae quam vel felis tristique volutpat.
          </p>
        </div>

        <div class="container" id="review">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <h3>Nickname</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a leo at nibh finibus placerat. Nulla sollicitudin congue nulla id dapibus. Nulla vitae quam vel felis tristique volutpat.
          </p>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Show more
        </button>
        <button type="button" class="btn btn-primary" id="add_review_button" data-toggle="button" aria-pressed="false" autocomplete="off">
          Create review
        </button>

        
      </div>

      <div class="container" id="add_review">
      <button type="button" class="btn btn-primary" id="review_back_button" data-toggle="button" aria-pressed="false" autocomplete="off">
        Back
      </button>
      <h3>Rating</h3>
      <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>

          <div class="mb-3">
            <label for="nicknameForm" class="form-label">Nickname</label>
            <input type="nickname" class="form-control" id="nicknameForm" placeholder="John">
          </div>
          <div class="mb-3">
            <label for="commentTextArea" class="form-label">Comment</label>
            <textarea class="form-control" id="commentTextArea" rows="3"></textarea>
          </div>

          <button type="button" class="btn btn-primary" id="submit_review_button" data-toggle="button" aria-pressed="false" autocomplete="off">
            Submit
          </button>

        </div>

        <div class="container" id="specifics">
          <div class="row">
            <div class="col-sm-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Specification</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
              <tr>
                <td>specs</td>
                <td>val</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-8">
          
          <p>
            Donec vel leo mattis, maximus urna id, condimentum urna. Aliquam malesuada pulvinar massa, nec tempor lacus finibus sit amet. Phasellus non sapien quis nisl convallis congue a feugiat magna. Cras at dolor elementum, gravida lectus et, rhoncus purus. Sed sollicitudin arcu id quam tempor luctus. Donec placerat a sapien at luctus. Vivamus sit amet odio quis purus porttitor pulvinar. Praesent ac sapien tristique justo consequat tincidunt sit amet sit amet libero. Maecenas scelerisque finibus nisi, eu blandit orci efficitur at. Nunc molestie, dolor ac viverra venenatis, odio est convallis magna, eget tempor turpis nisi eu dolor. Ut vitae dictum sapien.
          </p>
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Show more...
          </button>
        </div>
        </div>
            </div>

      </div>
    </div>
    </div>