<div class="container mt-5">
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3 row-cols-1 align-items-center justify-content-center text-center">
        <article class="col d-flex justify-content-center text-center">
            <div class="thumbnail">
                <a href="householdgoods.php">
                  <img src="resources/household-200.jpg" class="img-fluid img-thumbnail">
                  <div class="caption">
                    <p class="text-center">Household goods</p>
                  </div>
                </a>
              </div>
            </article>

        <article class="col d-flex justify-content-center text-center">
            <div class="thumbnail">
                <a href="craft.php">
                  <img src="resources/household-200.jpg" alt="Lights" class="img-fluid img-thumbnail">
                  <div class="caption">
                    <p class="text-center">Craft</p>
                  </div>
                </a>
              </div>
        </article>

        <article class="col d-flex justify-content-center text-center">
            <div class="thumbnail">
                <a href="toiletries.php">
                  <img src="resources/household-200.jpg" alt="Lights" class="img-fluid img-thumbnail">
                  <div class="caption">
                    <p class="text-center">Toiletries</p>
                  </div>
                </a>
              </div>
        </article>
    </div>
</div>